body {
    margin: 0%;
}

header {
    display: flex;
    flex-wrap: wrap;
    height: 360px;
    padding: 15px 24px;
    border: 3px black solid;
}

#profile-container {
    display: flex;
}

.name {
    margin-left: 13px;
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


.profile-pic {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 7%;
}

.navbar {
    margin-left: auto;
}

.menu {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 22px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#apresentation-container {
    margin: auto;
    padding-bottom: 50px;
}

.title-job {
    text-align: center;
    font-size: 70px;
    font-family: CCGlitterGirl Regular;
    margin-bottom: 10px;
}

.description {
    text-align: center;
    color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin: 0;
}

#main-container {
    display: flex;
    border: 3px black solid;
    height: 400px;
}

.projects {
    width: 250px;
    border-right: 4px black solid;
}

.work-experience {
    width: 500px;
    border-right: 4px black solid;
}

.education {
    width: auto;
}

.main-titles {
    font-family: CCGlitterGirl Regular;
    text-align: left;
    margin-left: 15px;
}

.project-name, h3, .experiences, .education-details, .courses {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    margin-left: 15px;
}

.projects-container {
    border-top: 4px black solid;
}

h3 {
    font-family: CCGlitterGirl Regular;
}

.profile-links {
    color: blue;
    margin-left: 15px;
    font-size: small;
}

.experience-1 {
    margin-bottom: 20px;
}

.experience-2 {
    margin-top: 25px;
    border-top: 4px black solid;
    height: auto;
}